/* Home section */
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    z-index: +1;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
}

.ajiboy {
    padding-left: 5%;
    padding-top: 2%;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

  .list {
    display: flex;
    float: right;
    position: relative;
    list-style: none;
    text-decoration: none;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.list a{
    text-decoration: none;
    color: #1b1b49;
}

.list a:hover {
    background-color: #36325f;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
}

li {
    margin: 10px;
    text-decoration: none;
    list-style: none;
}


.home-image {
    padding-left: 40%;
    padding-right: 0%;
    margin-top: 3%;

}

#two {
    margin-left: 35%;
    font-weight: bold;
    font-size: 50px;
    color: white;

}

.intro {
    color: white;
    padding-left: 38%;
    padding-top: 5%;
    font-size: 25px;
    padding-bottom: 5%;

}

li:hover {
    color: rgb(71, 147, 71);

}

.list:hover {
    color: white;
}


.first-content {
    background-color: rgb(59, 59, 99);
    position: relative;
    top: 10px;
    /* height: 80%; */
}

.row1 {
    font-size: 1.6rem;
    padding: 10rem;
    padding-top: 1rem;
}

.content2 {
    padding-top: rem;
    padding-left: 4rem;
    font-size: 2.1rem;
    background-color: rgb(241, 237, 237);
}


.content2:hover {
    color: rgb(71, 124, 124);


}



#about #one {
    color: #143675;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 6rem;
    font-weight: bolder;
    height: 100px;
    transition: all ease-in-out 0.2s;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 5.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


/* Services styling */

.service {
    background-color: black;
}



h2 {
    font-size: 4.0rem;
    font-style: normal;
    padding-top: 10%;
    padding-left: 20%;
    color: aliceblue;
    background-color: black;
    cursor: pointer;

}


h2:hover {
    color: aquamarine;

}

.john {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
}

#box {
    align-items: center;
    background-color: rgb(65, 62, 62);
    opacity: 10px;
    border-radius: 20px;
    margin-top: 10%;
    width: 90%;
    height: 80%;
}


.web p {
    color: aliceblue;
    font-size: 20px;


}

.interface p {
    color: aliceblue;
    font-size: 20px;


}

.product p {
    color: aliceblue;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}


h4 {
    font-size: 2.0rem;
    padding-left: 30%;
    color: aquamarine;

}

.h5 {}

.product h5 {
    font-size: 2.0rem;
    /* padding-bottom: %; */
    padding-left: 30%;
    color: aquamarine;
    position: relative;
    bottom: 40px;
}

#Services {
    /* background: url(assets/medium.jpg); */
    width: auto;
    height: 100vh;
    background-color: black;

}


.icon {
    font-size: 4.0rem;
    padding-left: 5%;
    padding-top: 5%;
    color: aliceblue;

}

.skills h2 {
    padding-top: 8%;
    padding-left: 55%;
    font-size: 40px;
}


.images-skills p {
    color: aliceblue;
    padding-left: 0%;

}

.images-skills {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;


}

.images-skills img {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 30%;
    padding-top: 180px;
    margin-left: 5%;
    justify-content: space-between;
}

.images-skills>div {
    margin-right: 30px;
    /* Adjust the spacing between images as needed */
    text-align: center;
    transition: transform 0.4s ease-out;
    cursor: pointer;

}

.images-skills>div:last-child {
    margin-right: 0;
    /* Remove the margin on the last image*/
}

.images-skills>div:hover {
    transform: scale(1.1);
    /* Apply scaling effect on hover */
}





/* Portfolio section */

.portfolio {
    /* background-color: #143675; */
    background-color: black;

}

.portfolio h2 {

    /* background-color: #143675; */
    background-color: black;
}

.portfolio p {
    color: aliceblue;
    margin-left: 20%;
    margin-top: 4%;
    font-size: 30px;
}

.portfolio-img {
    padding-left: 5%;
    padding-top: 4%;
    display: flex;
    flex-wrap: wrap;


}

.portfolio-img>div {
    width: 45%;
    margin-bottom: 10px;

}

.portfolio-img img {
    max-width: 500px;
    max-height: 100%;
    padding-bottom: 5%;
    border-radius: 60px;
    transition: transform 0.3s ease;
}


.portfolio-img img:hover {
    transform: scale(1.1);
}

.see-more .btn {
    color: aliceblue;
    border-radius: 20px;
    font-size: 30px;
}

.contact {
    background-color: black;
}

.contact p {
    color: aliceblue;
    margin-left: 20%;
    font-size: 30px;
    font-weight: 200;
    padding-top: 25px;
}

.contact-form {
    max-width: 500px;

    margin-left: 20%;
    margin-top: 6%;
}

.contact-form label {
    color: aliceblue;
}

.contact-form input {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 25px;
    font-size: 16px;
    height: 50px;
    display: ;
}

.form-control {
    padding-left: 20px;
    /* Adjust the value as needed */
}

.form-control::placeholder {
    text-indent: 20px;
    /* Adjust the value as needed */

}

textarea {
    height: 140px;
    width: 100%;
    border-radius: 10px;
}

textarea::placeholder {
    padding-top: 20px;
}


.contact-form .btn {
    background-color: rgb(76, 76, 161);
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
    width: 50%;
    border: none;
    cursor: pointer;
    margin-top: 30px;

}

.contact-form .btn:hover {
    background-color: aqua;
}

.footer {
    background-color: black;
    /* padding: 20px 4; */
    padding-top: 50px;
    justify-content: space-between;
    text-align: center;


}

.footer p {
    color: aquamarine;
    font-size: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
    margin-top: 20px;
    font-size: 30px;
    color: aquamarine;
    transition: color 0.3s ease;

}

.social-links {
    justify-content: flex-end;
}


.social-links a:hover {
    color: #007bff;
  }

/* Home section */
@media screen and (min-width: 414px) and (max-width: 896px) {
  .ajiboy {
    font-size: 24px;
  }
  
  .list {
    display: none;
  }
  
  .home-image {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
  }
  
  .intro {
    padding-left: 10%;
    padding-top: 2%;
    font-size: 20px;
  }
  
  .first-content {
    top: 60px;
  }
  
  .row1 {
    font-size: 1.2rem;
    padding: 4rem;
    padding-top: 1rem;
  }
  
  .content2 {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
  
  #one {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 3.6rem;
    height: 60px;
  }
  
  .typed {
    animation-duration: 3.5s;
  }
  
  /* Services styling */
  .service {
    padding: 2rem;
  }
  
  h2 {
    font-size: 2.5rem;
    padding-top: 10%;
    padding-left: 10%;
  }
  
  .john {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 10px;
  }
  
  #box {
    width: 90%;
    height: 60%;
  }
  
  .web p,
  .interface p,
  .product p {
    font-size: 16px;
  }
  
  h4 {
    font-size: 1.6rem;
    padding-left: 10%;
  }
  
  .product h5 {
    font-size: 1.6rem;
    padding-left: 10%;
    position: relative;
    bottom: 20px;
  }
  
  .icon {
    font-size: 3.0rem;
    padding-left: 5%;
    padding-top: 5%;
  }
  
  .skills h2 {
    padding-top: 8%;
    padding-left: 30%;
    font-size: 30px;
  }
  
  .images-skills p {
    padding-left: 0%;
    font-size: 16px;
  }
  
  .images-skills img {
    padding-top: 100px;
  }
  
  .images-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
  }
  
  .images-skills>div {
    margin-right: 0;
    margin-bottom: 20px;
    width: 45%;
  }
  
  .images-skills>div:last-child {
    margin-right: 0;
  }
  
  /* Portfolio section */
  .portfolio p {
    margin-left: 10%;
    margin-top: 2%;
    font-size: 24px;
  }
  
  .portfolio-img {
    padding-left: 10%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .portfolio-img>div {
    width: 45%;
  }
  
  /* Contact section */
  .contact p {
    margin-left: 10%;
    font-size: 24px;
    font-weight: 200;
    padding-top: 10px;
  }
  
  .contact-form {
    max-width: 90%;
    margin-left: 10%;
    margin-top: 4%;
  }
  
  .contact-form input {
    font-size: 14px;
    height: 40px;
  }
  
  .form-control::placeholder {
    text-indent: 10px;
  }
  
  textarea {
    height: 100px;
  }
  
  .contact-form .btn {
    font-size: 20px;
    height: 40px;
    margin-top: 20px;
  }
  
  /* Footer section */
  .footer {
    padding-top: 30px;
    justify-content: center;
  }
  
  .social-links {
    justify-content: center;
  }
}




  

